/* Import from Google Fonts. Oswald for headings, Roboto for paragrahps */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

/* Margin, padding and border defauls changed to 0 and none as defaults */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Body styling, scaleable background image etc
-> Background image backup  background: #0d700d url(..//images/background_image.jpg) center center / cover no-repeat fixed; */
body {
    background: #0d700d;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #3a3a3a
}

h1 {
    font-family: Oswald, sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525
}

/* Header styling */
header {
    background-color: #ffffff;
    width: 100%;
    height: 80px;
}

#logo_photo {
    margin: 3px 1% 3px 1%;
    border-radius: 50%;
    float: left;
}

#logo {
    float: left;
    font-size: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logo p {
    text-decoration: none;
    color:#3a3a3a;
}

#menu {
    float: right;
    line-height: 80px;
}

.header_nav {
    float: left;
    font-size: 16px;
    list-style-type: none;
    margin-right: 30px;
}

.header_nav a {
    text-decoration: none;
    color: inherit;
}

.header_nav a:hover {
    color: #0d700d;
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#small_screen_nav {
    float: left;
    font-size: 16px;
    list-style-type: none;
    margin-right: 30px;
    text-decoration: none;
    color: inherit;
}

/* Responsive Header Styling */
@media screen and (max-width: 940px){
    .header_nav {
        font-size: 14px;
        margin-right: 25px;
    }
}

@media screen and (max-width: 840px){
    .header_nav {
        display: none;
    }
}


/* About Me Box Styling */
.about_me_box {
    width: 80vw;
    max-width: 900px;
    margin: auto;
    margin-top: 5vh;
    height: 320px;
    background-color: #ffffff;
}

.about_me_box img {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

#welcome_about_me {
    display: inline-block;
    margin-left: 20px;
}

#welcome_about_me h1 {
    position: relative;
    bottom: -5px;
}

#welcome_about_me li{
    list-style: square;
    line-height: 160%;
}

/* Responsive Styling for Content Boxes */

@media screen and (max-width: 640px) {
    .about_me_box {
        width: 100%;
        height: auto;
    }

    .about_me_box img {
        display: none;
    }
    #welcome_about_me {
        width: 100%;
    }
}