/* Import from Google Fonts. Oswald for headings, Roboto for paragrahps */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

/* Margin, padding and border defauls changed to 0 and none as defaults */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Body styling, general rules, scaleable background image etc */
body {
    background: #492500 url(..//images/background_image.jpg) center center / cover no-repeat fixed;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #3a3a3a
}

h1 {
    font-family: Oswald, sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525
}

i {
    color: inherit;
    font-size: inherit;
    padding-left: 5px;
}

li i {
    color: #0d700d;
    padding-right: 5px;
}

/* Header styling */
header {
    background-color: #ffffff;
    width: 100%;
    height: 80px;
}

.logo_photo {
    margin: 3px 1% 3px 1%;
    border-radius: 50%;
    float: left;
}

.logo {
    float: left;
    font-size: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo p {
    text-decoration: none;
    color:#3a3a3a;
}

#menu {
    float: right;
    line-height: 80px;
}

.header_nav {
    float: left;
    font-size: 16px;
    list-style-type: none;
    margin-right: 30px;
}

.header_nav a {
    text-decoration: none;
    color: inherit;
}

.header_nav a:hover {
    color: #0d700d;
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#small_screen_nav {
    display: none;
}

#small_screen_hide {
    display: none;
}

#small_screen_toggle {
    float: left;
    margin-right: 30px;
    color: inherit;
    display: none;
}

#small_screen_toggle:hover, #small_screen_hide:hover {
    color: #0d700d;
    font-size: 120%;
}

/* Responsive Header Styling */
@media screen and (max-width: 940px){
    .header_nav {
        font-size: 13px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 800px){
    #small_screen_nav {
        position: absolute;
        top: 32px;
        right: 31px;
    }

    #small_screen_toggle, #small_screen_hide {
        display: block;
        text-align: center;
    }

    #nav_menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        top: -1000%;
        left: 0;
        padding: 50px 0px;
        transition: 0.75s;
    }

    #nav_menu li {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }

    #small_screen_nav:checked ~ #nav_menu {
        top: 0px;
    }
}

/* Content Box Styling */
.about_me_box {
    width: 80vw;
    max-width: 900px;
    height: auto;
    margin: auto;
    margin-top: 5vh;
    background-color: #ffffff;
}

.about_me_box img {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

#welcome_about_me {
    display: inline-block;
}

#welcome_about_me h1, .left_side_box h1, .right_side_box h1 {
    padding: 5px 0;
}

#welcome_about_me h1 {
    padding-left: 25px;
}

.green_color_box h1 {
    color: #ffffff;
}

#welcome_about_me li, .left_side_box li, .right_side_box li{
    list-style: none;
    line-height: 150%;
    font-size: 16px;
    padding: 0 10px;
}


a {
    color: #ffffff;
}

#welcome_about_me a, .left_side_box a, .right_side_box a {
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    padding: 6px 10px;
    background-color: #252525;
    margin: 15px auto;
    display: table;
}

#welcome_about_me a:hover, .white_color_box a:hover {
    background-color: #0d700d;
}

.green_color_box a:hover {
    background-color: #492500;
}

.box_row {
    width: 80vw;
    max-width: 900px;
    margin: auto;
}

.left_side_box, .right_side_box {
    width: 50%;
    text-align: center;
    border-top: 5px solid #252525;
    padding: 10px 0;
}

.left_side_box {
    float: left;
}

.right_side_box {
    float: right;
}

.green_color_box {
    background-color: #0d700d;
    color: #ffffff;
}

.white_color_box {
    background-color: #ffffff;
}

/* Responsive Styling for Content Boxes */
@media screen and (max-width: 800px) {
    body {
    background: #0d700d;
    }

    .about_me_box {
        width: 100%;
        height: auto;
        margin: 0;
        border-top: 5px solid #252525;
        text-align: center;
    }

    .about_me_box img {
        display: none;
    }

    #welcome_about_me {
        width: 100%;
    }

    #welcome_about_me h1 {
        padding-left: 0;
    }

    .box_row {
        width: 100%;
    }

    .left_side_box, .right_side_box {
        min-width: 100%;
        height: auto;
        position: unset;
    }
}

/* Footer Styling */
footer {
    background-color: #492500;
    width: 100vw;
    height: 80px;
}


footer, footer h1, #footer_left p {
    color: #ffffff;
}

footer li {
    list-style: none;
}

#footer_left {
    float: left;
    width: 33%;
}

#footer_right {
    float: right;
    width: 33%;
    text-align: right;
}

#footer_ center {
    width: 33%;
    margin: auto;
}

#footer_center p {
    text-align: center;
}