/* Import from Google Fonts. Oswald for headings, Roboto for paragrahps */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

/* Margin, padding and border defauls changed to 0 and none as defaults */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Body styling, scaleable background image etc */
body {
    background: #0d700d url(..//images/background_image.jpg) center center / cover no-repeat fixed;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #3a3a3a
}

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525
}

/* Header styling */
header {
    background-color: #ffffff;
    width: 100%;
    height: 80px;
}

#logo_photo {
    margin: 3px 1% 3px 1%;
    border-radius: 50%;
    float: left;
}

#logo {
    float: left;
    font-size: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logo p {
    text-decoration: none;
    color:#3a3a3a;
}

#menu {
    float: right;
    line-height: 80px;
}

.header_nav {
    float: left;
    font-size: 100%;
    list-style-type: none;
    margin-right: 30px;
}

.header_nav a {
    text-decoration: none;
    color: inherit;
}

.header_nav a:hover {
    color: #0d700d;
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}