/* Import from Google Fonts. Oswald for headings, Roboto for paragrahps */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

/* Margin, padding and border defauls changed to 0 as defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    background: #0d700d url(..//images/background_image.jpg) center center / cover no-repeat fixed;
    font-family: Roboto, sans-serif;
}